.container
    section
        height: 100vh
        &:first-child
            background-color: red
        &:nth-last-child(1)
            background-color: yellow
        &:nth-last-child(2)
            background-color: red
        &:nth-last-child(3)
            background-color: yellow
