.container
    background-color: #D6E5BC
    width: 100vw
    height: 100vh
    padding: 0vw 20vw
    display: flex
    box-sizing: border-box
    position: relative
    align-items: center
    justify-content: center

.upButton
    position: absolute
    top: 0px
    color: #5B5B5B
    background: none
    border: none
    font-size: 100px
    &:hover
        cursor: pointer

.downButton
    position: absolute
    bottom: 0px
    color: #5B5B5B
    background: none
    border: none
    font-size: 100px
    &:hover
        cursor: pointer

.questionContainer
    display: flex
    flex-direction: column
    justify-content: space-between

.question
    background-color: #6ec160
    font-size: 32px
    color: #FFFFFF
    padding: 24px 48px
    margin: 10px
    border-radius: 32px
    float: left

.character
    float: left
    position: relative
    right: 64px
    bottom: 64px

.copyright
    font-size: 9px
    color: #b8b8b8
    text-align: right
    position: relative
    bottom: 120px
    right: 100px

.answerContainer
    text-align: center

.answer
    background-color: #AECE77
    font-size: 32px
    color: #4E4E4E
    height: 64px
    border: none
    padding: 10px 40px
    margin: 10px
    border-radius: 20px
    &:hover
        background-color: #AECE77
        cursor: pointer
